{% extends "base.html" %}
{% load static %}
{% load cooks_extras %}


{% block css_style %}


{% endblock css_style %}

{% block page_content %}

<!--Check if loading ai recipe or first pass-->
<!--If first pass-->

<form action="{% url 'ai-recipe=create' %}", mehod="post">{% csrf_token %}
    <fieldset>
        <legend>Ingredients:</legend>
        <label for="ing-1">Ingredient #1</label>
        <input type="text" id="ing-1" name="ing-1" maxlength="20">
        <label for="ing-2">Ingredient #2</label>
        <input type="text" id="ing-2" name="ing-2" maxlength="20">
        <label for="ing-3">Ingredient #3</label>
        <input type="text" id="ing-3" name="ing-3" maxlength="20">
        <label for="ing-4">Ingredient #4</label>
        <input type="text" id="ing-4" name="ing-4" maxlength="20">
        <label for="ing-5">Ingredient #5</label>
        <input type="text" id="ing-5" name="ing-5" maxlength="20">
    <br>
    </fieldset>
    <br>
    <label for="mode">Cooking Mode:</label>
    <input type="text" id="mode" name="mode" maxlength="20">
    <label for="time">Cooking Time:</label>
    <input type="text" id="time" name="time" maxlength="20">
    <label for="other">Other Information:</label>
    <input type="text" id="other" name="other" maxlength="30">
    <input type="submit" value="Submit to AI">
</form>

{% endblock %}

