{% extends "base.html" %}
{% load static %}
{% load cooks_extras %}


{% block css_style %}
.list{
  text-align: center;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.container {
  border-radius: 5px;
  padding: 20px;
}

{% endblock css_style %}

{% block page_content %}
<div class="content">
{% if start %}

<h1>Sharing a recipe from MealCurator</h1>
<p>Thank you for sharing the recipe <i>{{meal.title}}</i>.  Please fill out a short title and description you would like added to share with someone.  
  
</p>
<div class="container">
<form action="{% url 'save-shared' %}", method="post">{% csrf_token %}
  <input type="hidden" name="shared_meal" value="{{meal.meal_id}}">
  <label for='title'>Title:</label>
  <input type='Text' id='title' name='shared_title' placeholder="Enter your title here">

  <label for='desc'>Description:</label>
  <textarea id="desc" name="shared_text" style="height:200px" placeholder="Enter Description here"></textarea>
  <input type="submit" value="Submit">

</div></form>
<h3>Please note that in order to create a shareable link the information provided above will not be password protected.</h3>
{% elif view %}
{{ request.headers.PATH_INFO }}
{% for meal in shared_meals %}

<h1>{{meal.title}}</h1>

<p>{{meal.text}}</p>

<div class="recCard">
  <table>
      <th colspan=2><a href="{{ meal.meal__rec_url }}", target="_blank">{{ meal.meal__title }}</a></th>
  <tr><td><b>Vegan:</b> {{ meal.meal__vegan|yesno:"Yes,No" }}</td><td><b>Vegetarian:</b> {{ meal.meal__vegetarian|yesno:"Yes,No" }}</td></tr>
  <tr><td class="leftTd">Meal Time:</td>
      <td class="rightTd">
          {% if meal.meal__meal_time == 'bk' %}  Breakfast
          {% elif meal.meal__meal_time == 'lu' %}  Lunch 
          {% elif meal.meal__meal_time == 'di' %}  Dinner 
          {% elif meal.meal__meal_time == 'sd' %}  Side Dish 
          {% elif meal.meal__meal_time == 'de' %}  Dessert
          {% elif meal.meal__meal_time == 'sn' %}  Snack         
          {% endif %}
  </td></tr>
  <tr><td class="leftTd">Cooking Time:</td>
      <td class="rightTd">
          {% if meal.meal__cooking_time == '20' %}  Less than 20 Minutes
          {% elif meal.meal__cooking_time == '40' %}  20 to 40 Minutes
          {% elif meal.meal__cooking_time == '60' %}  40 to 60 Minutes
          {% elif meal.meal__cooking_time == '61' %}  Over 60 Minutes
          {% endif %}
  </td></tr>
  <tr><td class="leftTd">Method:</td>
      <td class="rightTd">
          {% if meal.meal__cooking_method == 'st' %}  Stovetop
          {% elif meal.meal__cooking_method == 'mi' %}  Microwave 
          {% elif meal.meal__cooking_method == 'bl' %}  Blender 
          {% elif meal.meal__cooking_method == 'gr' %}  Grill 
          {% elif meal.meal__cooking_method == 'ov' %}  Oven 
          {% elif meal.meal__cooking_method == 'pr' %}  Pressure Cooker 
          {% elif meal.meal__cooking_method == 'sc' %}  Slow Cooker 
          {% elif meal.meal__cooking_method == 'af' %}  Air Fryer 
          {% elif meal.meal__cooking_method == 'ra' %}  Raw/Uncooked 
          {% endif %}
  </td></tr>
  <tr><td class="leftTd">Dish Type:</td>
      <td class="rightTd">
          {% if meal.meal__dish_type == 'sp' %}  Soup
          {% elif meal.meal__dish_type == 'bk' %}  Baked Dish
          {% elif meal.meal__dish_type == 'pa' %}  Pasta
          {% elif meal.meal__dish_type == 'cu' %}  Curry 
          {% elif meal.meal__dish_type == 'ca' %}  Cassarole
          {% elif meal.meal__dish_type == 'st' %}  Stew
          {% elif meal.meal__dish_type == 'sa' %}  Salad
          {% elif meal.meal__dish_type == 'lt' %}  Light Dish
          {% elif meal.meal__dish_type == 'sm' %}  Smoothie 
          {% elif meal.meal__dish_type == 'na' %}  Other
          {% endif %}
      </td></tr>
      <tr><td class="leftTd">Protein Type:</td>
          <td class="rightTd">
          {% if meal.meal__protein_type == 'be' %}  Beef
          {% elif meal.meal__protein_type == 'ch' %}  Chicken
          {% elif meal.meal__protein_type == 'pb' %}  Plant Based
          {% elif meal.meal__protein_type == 'se' %}  Fish / Shellfish 
          {% elif meal.meal__protein_type == 'pk' %}  Pork
          {% elif meal.meal__protein_type == 'na' %}  None
          {% elif meal.meal__protein_type == 'ot' %}  Other
          {% endif %}
      </td></tr>
  </table>        
</div>
{% if forloop.last %}
<h4>
Share this page with the following link:
</h4>
<p>
https://www.mealcurator.com/share/view/{{meal.id}}
<input type="hidden" value="{{ request.headers.Host }}/share/view/{{meal.id}}" id="shareLink">
<button onclick="myFunction()">Copy to Clipboard</button>
</p>
<script>
  function myFunction() {
    // Get the text field
    var copyText = document.getElementById("shareLink");
  
    // Select the text field
    copyText.type = 'text';
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices
   

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);
    copyText.type = 'hidden';
    // Alert the copied text
    alert("Address Copied to Clipboard");
  }
  </script>
{% endif %}
{% endfor %}

{% endif %}

</div>



{% endblock %}

