Django==5.0.14
psycopg2==2.9.12
python-dotenv==1.2.2
django-debug-toolbar==6.3.0
requests==2.33.1
beautifulsoup4==4.14.3
nltk==3.9.4
lockfile==0.12.2
django-mailer==2.3.2
coverage==7.13.5
openai==2.36.0
