{% extends "base.html" %}

{% block page_content %}

<h1>About mealCurator</h1>

<p>It all started with not having to do the same thing in reptition and enjoyment of cooking.</p>

<h2>Our Roots</h2>
<p>The orginial idea of mealCurator came from the fact that we enjoy cooking as a family, but I cannot cook anything without explicit instructions to follow.  The interent has a vast amount of great recipes to choose from, but we struggled for an easy way to keep track of them.</p>

<p>Like any good computer savy engineer type minded person.  I decided instead of creating emails to myself, or writing down information.  I would simply make a small app to solve the problem at hand.  Storing recipes for the upcoming week in an easy to find and organized place.  Something I could open from any device and have the recipes at my fingertips to start cooking.</p>

<p>A long time python programer and wanting to get some <a href="https://www.djangoproject.com/" target="_blank">Django</a> experience, I got to researching and then got to building.  This is an ongoing side-project, and I am hopeful you find it useful.  At the end of the day if you dont, I still got what I needed out of it, and got the Django Exposure I wanted.</p>

<p>If you are looking to get started with your own Djanog or WebApp check out the services of <a href="https://www.pythonanywhere.com/?affiliate_id=00bd0f8a" target="_blank">pythonanywhere</a>.  They have a very affordable, and very easy to work with platform for folks that just want to worry about the programming side and leave the server side work to the pros.  At the time of this writing we were able to stand-up a web-app, automated task, modest storage, and a small Postgres Database for the low monthly fee of $12.  Once you out-grow that, it is easy to expand your computing profile with them.  If you outgrow their services, it probably means you a miles above what I am trying to accomplish. The link above is my referall link if you do sign up for services a get kick-back on what you buy.</p>

<h3>Finding Recipes</h3>
<p>The next problem to be solved was finding recipes that we would enjoy on the vast stretches of the internet.  While it easy enough to pop 'quick XYZ meals' into google with a replacement of XYZ for whatever you are craving, it is easy to get burnt-out on meal-hunting on the internet.  We solved the problem by building a database of meals we did know and then catagorizing them on various meta-data that made sense to us.  With enough of these we will be automatically search the internet for new recipes or plop in a suggestion and let the computer do the lifting for us.</p>

<p>Another problem that comes with finding recipes is the time you might invest in something that comes out just 'meh' or is a total waste of time and resources.  So, from rating previous recipes we can start to build a profile of what we will like and grab similar recipes from what hopefully becomes  very robust database of possible meals.</p>

<h2>Our Plans</h2>
<p>The immediate goal is to get mealCurator up to a stable working version that checks the boxes that we intially set out to build.  Once this accomplished we can get fancier and continuously add features to make mealCuartor even more useful.  If you are savy with Django, HTML/CSS, or proof-reading, and want to contribute check out the <a href="https://github.com/jtweeder/mealcurator" target="_blank">Git Hub Repository</a>.</p>

<h3>Supporting Us</h3>
<p>Currently the service is free and most likely keep a free option for the long term.  The application does incur cost such as our pythonanywhere fees, domain fees, and beer fees to fuel the development.  If you are generous, you can send some funds our way by contributing to our <a href="https://github.com/sponsors/jtweeder" target="_blank">github sponsorship</a>.</p>

{% endblock page_content %}
