{% extends "base.html" %}
{% load static %}
{% block page_content %}

<h1>mealCurator Attribution Page</h1>

<p>
We depend on the open-source community, and creative common licensed for this site.  This page reflects the vector graphics we have used, and the attribution to the creators that make them possible.
Please check out their other work and, if you are able support their work.
</p>

{% for attribution in ccc %}

<h2>{{ attribution.title }} </h2>
<img src="{% static attribution.internal %}" alt="Preview of {{ attribution.title }}" height="46" width="46">
<p>{{ attribution.description }} </p>
<a href="{{ attribution.link }}">{{ attribution.link_text }}</a>

{% endfor %}

{% endblock page_content %}
