{% extends "base.html" %}

{% block css_style %}
li {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
    font-size: 18px; 
}
{% endblock css_style %}
<body>
    {% block navbar %}
    <div class="navbar">
        <ul class="navlist">
        <li><a class="button" href="{% url 'register' %}">Sign Up</a></li>
        <li><a class="button" href="{% url 'welcome' %}">Login</a></li>
        </ul>
    </div>
    {% endblock navbar %}

    {% block page_content %}
    <h1>Welcome to mealCurator!</h1>
    
    <p>
        Do you enjoy cooking at home, but have trouble wrangling online recipes each week?  Then you are in luck, mealCurator is here to help!
    </p>
    <h2>What is mealCurator?</h2>
    <p>mealCurator is built to help you:
       <li>Plan out your meals for whatever period of time ahead need</li>
       <li>Provide a safe space to stash your planned meals</li>
       <li>Links out to your planned meal so you can easily find that recipe</li>
       <li>Do the hard work for you and find recipes for you</li>
       
    <h2>Getting Started</h2>
    <p>Getting started with mealCurator is easy.  Simply create or login to your account.  You can start building your first meal plan today.  
        <br>
        <br>
        Once logged in you can submit recipes you find around around the internet.  Submitting recipes helps us build or databases and makes the overall platform more powerful.  It typically takes about 10 minutes from submission of recipe until it is ready to be added to a meal plan.  Sometimes certain websites will not allow us to collect enough information, or are behind a paywall.  At this time these recipes wont be able to be added to a meal-plan.
    </p>
    <h2>Issues</h2>
    <p>The best place to look for a resolution to any problems will be in the <a href="{% url 'welcome' %}">'how-to'</a> section.  Bugs are definatly going to appear.  So if you have an issue that you cant solve with the how-to documentationa, feel free to submit an issue to the <a href="https://github.com/jtweeder/mealcurator" target="_blank">github repository</a> and we can take a look.
    

    {% endblock page_content %}
